<%= render 'list', user: current_user, book: @book %>

<!--ユーザーの投稿一覧-->
<div>
  <h2>Books</h2>
    <% @books.each do |book| %>
    <div>
      <%= image_tag book.user.get_profile_image(50, 50) %>
      <p><%= book.title %>
        <%= link_to book_path(book.id) %>
      </p>
      <p><%= book.body %></p>
    </div>
    <% end %>
</div>
