<%= render 'books/list', user: current_user, book: @book %>

<!--ユーザーの投稿一覧-->
<div>
  <h2>Books</h2>
    <% @books.each do |book| %>
    <div>
      <%= image_tag book.user.get_profile_image(50, 50) %>
      <%= link_to book_path(book.id) do %>
        <p><%= book.title %></p>
      <% end %>
      <p><%= book.body %></p>
    </div>
    <% end %>
</div>
