<!--ユーザー情報-->
<h2>User info</h2>
  <%= books.each do |book| %>
    <%= image_tag book.user.get_profile_image(100, 100) %>
    <%= book.user.name %>
    <%= book.user.introduction %>
    
    <%= link_to 'e', edit_user_path(book.id) %>
  <% end %>

<!--投稿フォーム-->
<h2>New book</h2>
  <%= form_with model: book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <%= f.submit "Create Book" %>
  <% end %>