<%= flash[:notice] %>
<%= flash[:complete] %>

<%= render 'list', user: current_user, book: @xbook %>

<h2>Book detail</h2>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td><%= image_tag @book.user.get_profile_image(50, 50) %>
          <%= link_to user_path(@book.user) do %>
            <%= @book.user.name %>
          <% end %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id) %>
              <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
          <% end %>
          </td>
        </tr>
      </tbody>
  </table>